.back {
  background-color: rgba(20, 15, 15, 0.555);
  backdrop-filter: blur(50px);
}
.bgcolor {
  background: linear-gradient(to bottom, lightgray, lightblue);
  animation: changebackground 4s linear 2s infinite alternate;
}

@keyframes changebackground {
  0% {
    background: linear-gradient(to bottom, rgb(219, 246, 255), white);
    background: linear-gradient(to top, lightgray, lightblue);
  }
}

.fontcolor {
  text-shadow: 0.2px 0.5px rgb(126, 125, 125);
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Slab:wght@600&family=Rubik:wght@700&display=swap");
.font {
  font-family: "Rubik", sans-serif;
}
